body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0, 255, 255);
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
}

input{
    width: 80%;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    margin-top: 4%;
    color: grey;
}

#btn{
    width: 35%;
    font-size: 1rem;
    font-family: cursive;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 16px;
    margin-top: 25px;
    transition: 0.5s ease;
}

#btn:hover{
    background-color: red;
    color: white;

}

